<nav class="indigo" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="{{ path('homepage') }}" class="brand-logo white-text">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a target="_blank" href="http://www.weibo.com/939663636" class="white-text">Weibo</a></li>
            <li><a target="_blank" href="https://github.com/supersuck" class="white-text">Github</a></li>
            <li><a href="{{ path('procure') }}" class="white-text">嘿喵代购</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>