{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s10 offset-s1 center">
                    <h4>打开微信，扫描下方二维码</h4>
                </div>
            </div>
            <div class="row">
                <div class="col s10 offset-s1 center">
                    <img class="responsive-img" src="{{ asset('images/qrcode.png') }}" alt="或微信搜索昵称 : 嘿喵代购">
                </div>
            </div>
        </div>
    </div>
{% endblock %}